<section class="map-view">
    <aside class="map-meta">
        <div class="map-meta-statistics">
            <div class="statistics">
                <h2 class="statistics-title">statistieken</h2>
                <span class="statistics-item">0 bakledigingen</span>
                <span class="statistics-item">0 open</span>
                <span class="statistics-item">0 niet opgelost</span>
            </div>
        </div>

        <div class="filter-section">
            <h3 class="filter-section-title">gebieden</h3>
            <label class="filter-section-label"><input type="radio" class="filter-section-radio" name="gebied" checked>Alle</label>
            <label class="filter-section-label"><input type="radio" class="filter-section-radio" name="gebied">Damstraat, Damrak e.o.</label>
            <label class="filter-section-label"><input type="radio" class="filter-section-radio" name="gebied">Rembrandt- en Leidseplein </label>
            <label class="filter-section-label"><input type="radio" class="filter-section-radio" name="gebied">Plein 40-45</label>
        </div>

        <div class="filter-section">
            <h3 class="filter-section-title">afvalbakken</h3>
            <label class="filter-section-label"><input type="checkbox" class="filter-section-checkbox">Toon afvalbakken</label>
        </div>

        <div class="filter-section">
            <h3 class="filter-section-title">status</h3>
            <label class="filter-section-label"><input type="radio" class="filter-section-radio" name="status" checked>Alle</label>
            <label class="filter-section-label"><input type="radio" class="filter-section-radio" name="status">Open</label>
            <label class="filter-section-label"><input type="radio" class="filter-section-radio" name="status">Gesloten</label>
            <label class="filter-section-label"><input type="radio" class="filter-section-radio" name="status">Opgelost</label>
            <label class="filter-section-label"><input type="radio" class="filter-section-radio" name="status">Niet opgelost</label>
            <label class="filter-section-label"><input type="radio" class="filter-section-radio" name="status">Onbekend</label>
            <label class="filter-section-label"><input type="radio" class="filter-section-radio" name="status">Geleegd</label>
        </div>
    </aside>
    <div class="map">
         <style>#mapid { height: 800px; }</style>
         <div id="mapid"></div>
    </div>
</section>