version: "3.2"

services:
    database:
      image: amsterdam/postgres
      ports:
        - "5402:5432"
      environment:
        POSTGRES_HOST: localhost
        POSTGRES_PASSWORD: insecure
        POSTGRES_DB: cleanstreet
        POSTGRES_USER: cleanstreet

    web:
      build: .
      ports:
        - "8129:80"
      links:
        - database:database
        
      environment:
        SYMFONY__CLEANSTREET__DATABASE_HOST: database
        SYMFONY__CLEANSTREET__DATABASE_PORT: "5432"
        SYMFONY__CLEANSTREET__DATABASE_NAME: "cleanstreet"
        SYMFONY__CLEANSTREET__DATABASE_USER: "cleanstreet"
        SYMFONY__CLEANSTREET__DATABASE_PASSWORD: "insecure"
        SYMFONY__CLEANSTREET__SECRET: "insecure" # random
        SYMFONY__CLEANSTREET__APP_PHONE_ENABLED: "true"
        SYMFONY__CLEANSTREET__APP_MESSAGEBIRD_KEY: "insecure"
        SYMFONY__CLEANSTREET__PIWIK_SITE_ID: "null" # null for no piwik integration
        SYMFONY__CLEANSTREET__APP_DATAPUNT_BASEURL: https://api.data.amsterdam.nl
        
        SYMFONY__CLEANSTREET__SWIFT_AUTH_URL: ''
        SYMFONY__CLEANSTREET__SWIFT_REGION: ''
        SYMFONY__CLEANSTREET__SWIFT_USER_NAME: ''
        SYMFONY__CLEANSTREET__SWIFT_USER_DOMAIN_ID: ''
        SYMFONY__CLEANSTREET__SWIFT_USER_PASSWORD: ''
        SYMFONY__CLEANSTREET__SWIFT_PROJECT_ID: ''
        SYMFONY__CLEANSTREET__SWIFT_CONTAINER_PREFIX: ''
        SYMFONY__CLEANSTREET__SWIFT_EXTERNAL_DOMAIN: ''

