<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://tydelyk.nl/cleanstreet-about/cleanstreet.min.css" rel="stylesheet">
        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
        <script>
          window.sr = ScrollReveal();
        </script>
    </head>
    <body>
        <header class="banner"  style="background-image: url('/img/banner.jpg')">
            <div class="wrapper">
                <div class="col-1-1">
                    <h1><img src="/img/clean-street-logo.svg" alt="clean street" class="logo-cleanstreet"></h1>
                    <img src="/img/adam-logo.svg" class="logo-amsterdam">
                </div>
            </div>
        </header>

        <div class="wrapper">
            <div class="col-1-1">
                <section class="introduction">
                    <h1>Samen houden we Amsterdam schoon</h1>
                    <p>Op drukke straten waar veel gegeten en gedronken wordt, is extra inspanning nodig om Amsterdam schoon te houden. Voortaan zetten de clean street conciërges zich hiervoor in.
We vragen u als Amsterdamse ondernemer ook een handje te helpen, door uw eigen clean street afvalbak te adopteren.</p>
                </section>
            </div>
        <div class="stappen-plan-wrapper">
            <section class="stappen-plan">
                <h2>Zo adopteert u de afvalbak</h2>
                <div class="numbered-item">
                    <div class="numbered-item-bullet">1</div>
                    <div class="numbered-item-text">Neem contact op met de conciërge, bel <span class="tel">06 8380 7130</span> en meld dat u uw clean street afvalbak wil bestellen.
                    </div>
                </div>
                <div class="numbered-item">
                    <div class="numbered-item-bullet">2</div>
                    <div class="numbered-item-text">Plaats de afvalbak ’s ochtends op de stoep voor uw winkel en zet hem voor sluitingstijd weer binnen. Wij zorgen
dat we hem geregeld leeghalen.
                    </div>
                </div>
                <div class="numbered-item">
                    <div class="numbered-item-bullet">3</div>
                    <div class="numbered-item-text">Is uw bak toch eerder vol? Meld dit eenvoudig via
                        <a href="http://leeg.nu">leeg.nu</a> met uw baknummer en wij komen eraan!
                    </div>
                </div>
            </section>
        </div>
        <div class="werktijden-wrapper">
            <aside class="werktijden scroll-reveal">
                <p>U kunt de clean street conciërge dagelijks bereiken van <span class="tijden">10:00 - 22:00</span> voor vragen of meldingen op tel <span class="tel">06 8380 7130</span>.</p>
                <p>Clean street is beschikbaar voor ondernemers op Damstraat, Damrak en Nieuwendijk.</p>
            </aside>
        </div>
        </div>
        <footer class="main-footer">
            <div class="wrapper">
                <p>Clean street is een initiatief van de Gemeente Amsterdam</p>
            </div>
        </footer>
        <script>
            sr.reveal('.scroll-reveal');
        </script>
    </body>
</html>