<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>clean street - iedere ondernemer een schone stoep</title>
        <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/4059b458-6351-4fb4-ae92-bdd910ee5e85.css"/>
        <link type="text/css" rel="stylesheet" href="/assets/css/cleanstreet.min.css">
    </head>
    <body>

        <section class="contact" id="contact">
            <div class="contact-wrapper">
                <div class="contact-image-container">
                    <img src="/img/tijdelijke-bak.png">
                </div>
                <div class="contact-form-container">
                    <div class="article-styles">
                        <h2>Hartelijk dank voor uw aanvraag</h2>
                        <p>We nemen zo spoedig mogelijk contact met u op!</p>
                        <p><a href="/">&lt; Terug</a></p>
                    </div>
                </div>
            </div>
        </section>

        <footer class="main-footer">
            <div class="wrapper">
                <p>Clean street is een initiatief van de Gemeente Amsterdam en onderdeel van Amsterdam schoon.</p>
            </div>
        </footer>

    </body>
</html>